<h2 class="flex-container">{{ client.ayn}}</h2>
<nz-breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home" routerLink="/"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/clientes">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span>{{ 'CLIENTS.LIST.TITLE.BREADCRUMB' | translate }}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="user"></span>
      <span> {{ 'CLIENTS.FORM.BREADCRUMB.DETAIL' | translate}}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>





