
<mat-card>
  <div class="login-container">
    <div class="login-image" [style.backgroundImage]="currentImage" #loginImage></div>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label class="floating">Email</mat-label>
        <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Introduce tu email">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="passwordType" placeholder="Introduce tu contraseña" [(ngModel)]="user.password"
          name="password">
        <mat-icon matSuffix (click)="togglePassword()">visibility</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="user.email === '' || user.email === undefined
      ||
      user.password === '' || user.password === undefined">Login</button>
    </form>
  </div>
</mat-card>
