<!-- <div class="d-flex justify-content-center align-items-center">
  <div class="row mt-5" style="width: 100%;
  height: 100%;">
    <div class="mx-auto col-lg-4" style="display: flex;
      align-items: center; justify-content: center;">
      <div class="modal-body px-md-5 px-4">
        <h3 class="modal-title mt-4 mb-0 text-center mb-5">Iniciar sesión</h3>
        <p class="font-size-sm text-muted text-center">Inicie sesión en su cuenta utilizando el correo electrónico y la
          contraseña proporcionados durante
          registro.</p>
       <form #loginForm="ngForm"  (ngSubmit)="login(loginForm)" novalidate="">
          <div class="form-group">
            <label for="signin-email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Introduce tu email" required="">
          </div>
          <div class="form-group">
            <label for="signin-password" class="form-label">Contraseña</label>
            <div class="cs-password-toggle input-group-overlay">
              <input type="password" class="form-control appended-form-control" name="password" [(ngModel)]="user.password"
                placeholder="Introduce tu contraseña" required="">
              <div class="input-group-append-overlay">
                <label class="btn cs-password-toggle-btn input-group-text">
                  <input type="checkbox" class="custom-control-input">
                  <i class="cxi-eye cs-password-toggle-indicator"></i>
                  <span class="sr-only">Mostrar contraseña</span>
                </label>
              </div>
            </div>
          </div> -->
<!-- <div class="d-flex justify-content-between align-items-center form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="remember-me" checked="">
      <label for="remember-me" class="custom-control-label">Recuérdame</label>
    </div>
    <a href="#" class="font-size-sm text-decoration-none">Contraseña olvidada</a>
  </div> -->
<!-- <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button> -->
<!-- <p class="font-size-sm pt-4 mb-0">¿No tienes una cuenta?
    <a href="#" class="font-weight-bold text-decoration-none" data-view="#modal-signup-view">Registrate</a>
  </p> -->
<!-- </form>


      </div>
    </div>
  </div>
</div>

-->

<!-- <form nz-form [formGroup]="loginForm" loginForm="ngForm" class="login-form" (ngSubmit)="login2()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Email">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="email" placeholder="Introduce tu email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Contraseña">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Introduce tu contraseña"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Iniciar sesión</button>
</form> -->

<mat-card>
  <div class="login-container">
    <!-- <div class="login-image" [style.backgroundImage]="'url(' + imageUrl + ')'"></div> -->
    <div class="login-image" [style.backgroundImage]="currentImage" #loginImage></div>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label class="floating">Email</mat-label>
        <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Introduce tu email">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="passwordType" placeholder="Introduce tu contraseña" [(ngModel)]="user.password"
          name="password">
        <mat-icon matSuffix (click)="togglePassword()">visibility</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="user.email === '' || user.email === undefined
      ||
      user.password === '' || user.password === undefined">Login</button>
    </form>
  </div>
</mat-card>
