/* You can add global styles to this file, and also import other style files */

@import './assets/css/custom-icons/custom-icons.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import './assets/css/table.css';
@import './assets/css/detail.css';

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  width: 100%;
}

.hidden {
  display: none !important;
}

.column-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
