
<h2>{{ !client.idc ?  'Nuevo cliente' : 'Editar cliente' }}</h2>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <span nz-icon nzType="home" routerLink="/"></span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/clientes">
      <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
      <span>Listado de clientes</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span nz-icon nzType="user"></span>
    {{ !client.idc  ?  'Nuevo cliente' : 'Editar ' + client.ayn }}
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div [ngClass]="{'app-content': client.problematico}">

<br>
<br>
<form nz-form (submit)="saveClient()">

  <div class="column-2">
    <!-- NOMBRE -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="ayn">Nombre y Apellidos</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="ayn" type="text" id="ayn" [(ngModel)]="client.ayn">
      </nz-form-control>
    </nz-form-item>

    <!-- DIRECCION -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="dir">Dirección</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="dir" type="text" id="dir" [(ngModel)]="client.dir">
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="column-2">
    <!-- CODIGO POSTAL -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="codp">Código postal</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input name="codp" type="text" id="codp" [(ngModel)]="client.codp">
      </nz-form-control>
    </nz-form-item>

    <!-- CODIGO POSTAL -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="identif">DNI</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="identif" type="text" id="identif" [(ngModel)]="client.Identif">
      </nz-form-control>
    </nz-form-item>
  </div>

   <div class="column-2">
       <!-- PROVINCIA -->
   <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="codt">Provincia</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-select nzShowSearch  nzAllowClear nzPlaceHolder="Seleccione provincia" [(ngModel)]="client.Dep" name="dep" (ngModelChange)="changeLocalities()">
        <nz-option *ngFor="let option of provinces" [nzLabel]="option.nom" [nzValue]="option.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

    <!-- LOCALIDAD -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="codt">Localidad</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-select nzShowSearch  nzAllowClear nzPlaceHolder="Seleccione localidad" [(ngModel)]="client.Loc" name="loc" (ngModelChange)="changeProvince()">
          <nz-option *ngFor="let option of localities" [nzLabel]="option.nom" [nzValue]="option.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="column-2">
    <!-- TELEFONO -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="tel">Teléfono</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="tel" type="text" id="tel" [(ngModel)]="client.tel2">
      </nz-form-control>
    </nz-form-item>


    <!-- TELEFONO CONTACTO -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="telC">Móbil</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="telC" type="text" id="telC" [(ngModel)]="client.telC2">
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="column-2">
    <!-- EMAIL -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="email">Correo electrónico</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="email" type="email" id="email" [(ngModel)]="client.email">
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      </nz-form-item>
  </div>


  <div class="column-2">
  <!-- DEUDA -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="deuda">¿Tiene Deuda?</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-switch name="deuda" id="deuda" [(ngModel)]="client.deuda"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <!-- FECI -->
    <nz-form-item>
      <ng-container *ngIf="client.deuda">
        <nz-form-label [nzSpan]="7" nzFor="cantidadDeuda">Cantidad Deuda</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input name="cantidadDeuda" type="text" id="cantidadDeuda" [(ngModel)]="client.cantidadDeuda" >
        </nz-form-control>
      </ng-container>
    </nz-form-item>
  </div>


  <div class="column-2">
    <!-- DEUDA -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="problematico">¿Es problemático?</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-switch name="problematico" id="problematico" [(ngModel)]="client.problematico"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <!-- FECI -->
      <nz-form-item>
      </nz-form-item>
    </div>


  <div class="column-2">
    <!-- FECI -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="feci">Fecha de registro</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="feci" type="date" id="feci" [(ngModel)]="client.feci" [disabled]="true">
      </nz-form-control>
    </nz-form-item>

    <!-- FECI -->
    <nz-form-item>
    </nz-form-item>

    <!-- FALTA MAIL -->
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="faltaMail">¿Falta Correo Electrónico?</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-switch name="faltaMail" id="faltaMail" [(ngModel)]="client.FaltaMail"></nz-switch>
      </nz-form-control>
    </nz-form-item> -->
  </div>

  <!-- FaltaDir -->
  <div class="column-2">
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="FaltaDir">FaltaDir</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="FaltaDir" [(ngModel)]="client.FaltaDir" name="faltaDir"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->

  <!-- Perfil1 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil1">Perfil1</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil1" [(ngModel)]="client.Perfil1" name="perfil1"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->
</div>

<div class="column-2">
  <!-- Perfil2 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil2">Perfil2</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil2" [(ngModel)]="client.Perfil2" name="perfil2"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->

  <!-- Perfil3 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil3">Perfil3</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil3" [(ngModel)]="client.Perfil3" name="perfil3"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->
</div>

<div class="column-2">
  <!-- Perfil4 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil4">Perfil4</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil4" [(ngModel)]="client.Perfil4" name="perfil4"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->

  <!-- Perfil5 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil5">Perfil5</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil5" [(ngModel)]="client.Perfil5" name="perfil5"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->
</div>


  <div class="column-2 obs">
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="obs">Observaciones </nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea nz-input name="obs" id="obs" [(ngModel)]="client.obs"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="flex-button">
    <!-- BOTON GUARDAR -->
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="15">
        <button nz-button nzType="primary">Guardar</button>
      </nz-form-control>
    </nz-form-item>
  </div>

</form>
</div>
