<h2>{{ !cliente.idc ?  'Nuevo cliente' : 'Editar cliente' }}</h2>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <span nz-icon nzType="home" routerLink="/"></span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/clientes">
      <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
      <span>Listado de clientes</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span nz-icon nzType="user"></span>
    {{ !cliente.idc  ?  'Nuevo cliente' : 'Editar ' + cliente.ayn }}
  </nz-breadcrumb-item>
</nz-breadcrumb>

<br>
<br>
<form nz-form (submit)="saveClient()">

  <div class="column-2">
    <!-- NOMBRE -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="ayn">Nombre y Apellidos</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="ayn" type="text" id="ayn" [(ngModel)]="cliente.ayn">
      </nz-form-control>
    </nz-form-item>

    <!-- DIRECCION -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="dir">Dirección</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="dir" type="text" id="dir" [(ngModel)]="cliente.dir">
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="column-2">
    <!-- CODIGO POSTAL -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="codp">Código postal</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input name="codp" type="text" id="codp" [(ngModel)]="cliente.codp">
      </nz-form-control>
    </nz-form-item>

    <!-- LOCALIDAD -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="codt">Localidad</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-select nzShowSearch  nzAllowClear nzPlaceHolder="Seleccione localidad" [(ngModel)]="cliente.Loc" name="loc">
          <nz-option *ngFor="let option of localidades" [nzLabel]="option.nom" [nzValue]="option.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="column-2">
    <!-- TELEFONO -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="tel">Teléfono</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="tel" type="text" id="tel" [(ngModel)]="cliente.tel">
      </nz-form-control>
    </nz-form-item>



    <!-- TELEFONO CONTACTO -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="telC">Teléfono 2</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="telC" type="text" id="telC" [(ngModel)]="cliente.telC">
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="column-2">
    <!-- EMAIL -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="email">Correo electrónico</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="email" type="email" id="email" [(ngModel)]="cliente.email">
      </nz-form-control>
    </nz-form-item>


   <!-- PROVINCIA -->
   <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="codt">Provincia</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-select nzShowSearch  nzAllowClear nzPlaceHolder="Seleccione provincia" [(ngModel)]="cliente.Dep" name="dep">
        <nz-option *ngFor="let option of provincias" [nzLabel]="option.nom" [nzValue]="option.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  </div>


  <div class="column-2">
    <!-- FECI -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="feci">Fecha de registro</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="feci" type="date" id="feci" [(ngModel)]="cliente.feci" [disabled]="true">
      </nz-form-control>
    </nz-form-item>

    <!-- DEUDA -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="deuda">¿Tiene Deuda?</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-switch name="deuda" id="deuda" [(ngModel)]="cliente.deuda"></nz-switch>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="column-2">
    <!-- OBRA -->
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="obra">Obra</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input nz-input name="obra" type="number" id="obra" [(ngModel)]="cliente.obra">
      </nz-form-control>
    </nz-form-item> -->

    <!-- FALTA MAIL -->
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="faltaMail">¿Falta Correo Electrónico?</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-switch name="faltaMail" id="faltaMail" [(ngModel)]="cliente.FaltaMail"></nz-switch>
      </nz-form-control>
    </nz-form-item> -->
  </div>

  <!-- FaltaDir -->
  <div class="column-2">
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="FaltaDir">FaltaDir</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="FaltaDir" [(ngModel)]="cliente.FaltaDir" name="faltaDir"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->

  <!-- Perfil1 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil1">Perfil1</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil1" [(ngModel)]="cliente.Perfil1" name="perfil1"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->
</div>

<div class="column-2">
  <!-- Perfil2 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil2">Perfil2</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil2" [(ngModel)]="cliente.Perfil2" name="perfil2"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->

  <!-- Perfil3 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil3">Perfil3</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil3" [(ngModel)]="cliente.Perfil3" name="perfil3"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->
</div>

<div class="column-2">
  <!-- Perfil4 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil4">Perfil4</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil4" [(ngModel)]="cliente.Perfil4" name="perfil4"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->

  <!-- Perfil5 -->
  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzFor="Perfil5">Perfil5</nz-form-label>
    <nz-form-control [nzSpan]="15">
      <nz-switch id="Perfil5" [(ngModel)]="cliente.Perfil5" name="perfil5"></nz-switch>
    </nz-form-control>
  </nz-form-item> -->
</div>


  <div class="column-2 obs">
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="obs">Observaciones </nz-form-label>
      <nz-form-control [nzSpan]="20">
        <textarea nz-input name="obs" id="obs" [(ngModel)]="cliente.obs"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="flex-button">
    <!-- BOTON GUARDAR -->
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="15">
        <button nz-button nzType="primary">Guardar</button>
      </nz-form-control>
    </nz-form-item>
  </div>

</form>
