<nz-table #basicTable nzShowSizeChanger [nzData]="clientes" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="totalResults" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th  nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="filtro.length > 0" [nzDropdownMenu]="menu">
          <span style="font-size: 15px;" nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzColumnKey="dir" [nzSortFn]="true">Dirección</th>
      <th nzColumnKey="email" [nzSortFn]="true">Email</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let cliente of basicTable.data">
    <tr [ngClass]="{'contains-pet': checkFiltro(cliente) && filtro}">
      <td [nzExpand]="expandSet.has(cliente.idc)" (nzExpandChange)="onExpandChange(cliente.idc, $event)"></td>
      <td>{{ cliente.ayn }}</td>
      <td>{{ cliente.dir }}</td>
      <td>{{ cliente.email }}</td>
    </tr>
    <tr [nzExpand]="expandSet.has(cliente.idc)">
        <th>Mascotas </th>
      <ng-container *ngFor="let mascota of cliente.mascotas">
        <a [ngClass]="{'contains-pet' : mascota.nom.toLowerCase().includes(filtro.toLowerCase()) }">{{ mascota.nom }}</a> <nz-divider nzType="vertical"></nz-divider>
      </ng-container>
    </tr>
    </ng-container>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Buscar por cliente, mascota..." [(ngModel)]="filtro" />
      <div style="display: flex; justify-content: space-between;">
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
