
<h2>Listado de clientes y mascotas</h2>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <span nz-icon nzType="home" routerLink="/"></span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>
      <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
      <span>Listado de clientes</span>
    </a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<br>
<br>
<button nz-button (click)="addClient()" nzType="primary">Nuevo cliente</button>
<br>
<br>
<nz-table #basicTable nzShowSizeChanger [nzData]="clientes" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="totalResults" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th  nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="filtro.length > 0" [nzDropdownMenu]="menu">
          <span style="font-size: 15px;" nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzColumnKey="dir" [nzSortFn]="true">Dirección</th>
      <th nzColumnKey="email" [nzSortFn]="true">Email</th>
      <th nzColumnKey="email" [nzSortFn]="true">Teléfono</th>
      <th nzWidth="100px">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let cliente of basicTable.data">
    <tr >
      <td *ngIf="cliente?.mascotas?.length > 0" [nzExpand]="expandSet.has(cliente.idc)" (nzExpandChange)="onExpandChange(cliente.idc, $event)"></td>
      <td *ngIf="cliente?.mascotas?.length === 0"></td>
      <td [ngClass]="{'contains-pet': checkFiltro(cliente)}">{{ cliente.ayn }}</td>
      <td>{{ cliente.dir }}</td>
      <td>{{ cliente.email }}</td>
      <td>
        <span *ngIf="cliente.tel">
        {{ cliente.tel }}  <nz-divider nzType="vertical"></nz-divider>
      </span>
      <!-- <span *ngIf="cliente.tel2">
        {{ cliente.tel2 }}  <nz-divider nzType="vertical"></nz-divider>
      </span> -->
      <span *ngIf="cliente.telC">
        {{ cliente.telC }}  <nz-divider nzType="vertical"></nz-divider>
      </span>
      <span *ngIf="cliente.telC2">
        {{ cliente.telC2 }}  <nz-divider nzType="vertical"></nz-divider>
      </span>
    </td>
      <td>
        <a class="table-icon"><span nz-icon nzType="edit" nzTheme="outline" (click)="editClient(cliente._id)"></span></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a class="table-icon"><span nz-icon nzType="delete" nzTheme="outline"></span></a>
      </td>
    </tr>
    <tr  [nzExpand]="expandSet.has(cliente.idc)">
        <th>Mascotas </th>
      <ng-container *ngFor="let mascota of cliente.mascotas">
        <a [ngClass]="{'contains-pet' : checkFiltroMascota(mascota) }">{{ mascota.nom }}</a> <nz-divider nzType="vertical"></nz-divider>
      </ng-container>
    </tr>
    </ng-container>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Buscar por cliente, mascota..." [(ngModel)]="filtro" />
      <div style="display: flex; justify-content: space-between;">
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
