nz-layout {
  min-height: 100vh;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 250px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.contains-pet {
  color: rgb(23, 179, 23);
}

.dollar {
  color: green;
}

.warning {

}

.table-icon {
  font-size: 22px;
  padding: 0 !important;
}

.client-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor:  pointer;
}

.client-name-pet {
  cursor: pointer;
  color: black;
}

.client-name-pet:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s ease;
}

.ant-table-cell {
  min-height: 65px !important;
}
